*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.page{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

nav{
    position: fixed;
    top: 25px;
    right: 0;
    z-index: 100;
}

a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 15px;
    background-color: grey;
    border-radius: 50%;
}

img{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: yellow;
}
