*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.page{
    height: 100vh;
    width: 100%;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}