*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* generali view */
.page{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

/* /generali view */


/* nav */
nav{
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 100;
}

a{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
}

/* /nav */


/* contenuti */
.product{
    width: 700px;
    text-align: center;
    font-size: 2,5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

img{
    width: 100%;
}

.red h1, .green h1{
    color: yellow;
}

.yellow h1{
    color: green;
}

/* /contenuti */
